body { 
    font-family: Arial, sans-serif; 
    line-height: 1.6; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
    color: #333; 
} 
header { 
    background-color: #8484aa; 
    color: white; 
    text-align: center; 
    padding: 1rem; 
} 
h2 { 
    color: #03075d; 
    text-align: center; 
} 
nav { 
    background-color: #6a6a8a; 
    padding: 1rem; 
    display: flex; 
    justify-content: center; 
}
.saturs { 
    width: 80%; 
    margin: auto; 
    overflow: hidden; 
    padding: 25px; 
} 
.valstis { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
} 
.valsts { 
    background-color: rgb(200, 164, 230); 
    border: 1px solid #ddd; 
    padding: 15px; 
    margin-bottom: 20px; 
    width: 30%; 
    text-align: center; 
} 
img { 
    max-width: 100%; 
    height: 200px; 
    border-radius: 20px;
} 
footer { 
    background-color: #7070a2; 
    color: rgb(152, 145, 186); 
    text-align: center; 
    padding: 1rem; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
nav { 
    background-color: #6a6a8a; 
    padding: 1rem; 
    display: flex; 
    justify-content: center; 
} 
nav a { 
    color: white; 
    text-decoration: none; 
    padding: 0.5rem 1rem; 
} 
nav a:hover { 
    background-color: #8a8aaa; 
    background-color:#250632
} 
