body { 
    font-family: Arial, sans-serif; 
    line-height: 1.7; 
    margin: 0; 
    padding: 0; 
    background-color: #f4f4f4; 
    color: #000000; 
} 
header { 
    background-color: #7d98d4; 
    color: white; 
    text-align: center; 
    padding: 1rem; 
} 
h2 { 
    color: #03075d; 
    text-align: center; 
} 
nav { 
    background-color: #4d73ac; 
    padding: 1rem; 
    display: fixed;
}
.saturs { 
    width: 80%; 
    margin: auto; 
    overflow: hidden; 
    padding: 25px; 
} 
.valstis { 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: space-between; 
} 
.valsts { 
    background-color: #3764c5; 
    border: 2px solid #ffffff; 
    padding: 15px; 
    margin-bottom: 20px; 
    padding-top: 0px;
    width: 30%; 
    text-align: center; 
} 
img { 
    max-width: 100%; 
    height: 200px; 
    border-radius: 20px;
} 
footer { 
    background-color: #3764c5; 
    color: rgb(108, 149, 238); 
    text-align: center; 
    padding: 1rem; 
    position: fixed; 
    bottom: 0; 
    width: 100%; 
}
nav { 
    background-color: #5472c4; 
    padding: 1rem; 
    display: flex; 
    justify-content: center; 
} 
nav a { 
    color: white; 
    text-decoration: none; 
    padding: 10px 20px; 
} 
nav a:hover { 
    background-color: #4e4eb1; 
    background-color:#081849
} 
p.solid {border-style: solid;
border-color: black;
height: auto;
}
.tabula{text-align: center;
    position: relative;
    left: 240px;
}
table, th, td {
    border: 2px solid;
    text-align: center;
  }
  .fakti {text-align: left;
  }
